@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), url(../fonts/raleway.woff) format('woff');
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: local('Raleway Bold'), local('Raleway-Bold'), url(../fonts/raleway_bold.woff) format('woff');
}

html, body {
	height:100%;
	font-family: "Raleway", sans-serif;
}
#wrapper {
  padding-left: 250px;
  transition: all 0.4s ease 0s;
}

#footer {
	border-top: 1px solid #DDD;
	position:absolute;
	padding: 10px;
	padding-bottom:0;
	display: block;
	width: 100%;
	background: #EEE;
	bottom:0;
	font-size:11px;
}

#footer a {
	color: #000;
}

.mapabondi {
	font-weight:bold;
	text-transform:uppercase;
}

#map_canvas {
	height: 100vh;
	width: 100%;
}

#sidebar-wrapper {
	box-shadow: #555 0 0 25px;
	overflow: hidden;
  margin-left: -310px;
  left: 310px;
  width: 310px;
  background: #F9F9F9 url('../img/cubes.png');
  position: fixed;
  height: 100%;
  z-index: 1000;
  transition: all 0.4s ease 0s;
}

.form-sidebar {
	display: none;
	height:210px !important;
	background: #FFF;
	padding: 10px 20px;
	border-bottom: 1px solid #DDD;
	text-indent: 0;
	overflow: hidden;
	margin:0;
	transition: height 0.5s;
}

.form-sidebar label {
	color: #666;
	font-weight: normal;
}

.transports-list:last-child {
	margin-bottom:0;
}

li.media {
	border: 1px solid #DDD;
	background: #FFF;
	padding: 10px;
	margin:0;
	margin-bottom:5px;
}

.media img {
	width: 50px;
}

.transport-info {
	font-size:11px;
	padding:0;
	margin-left:18px;
	margin-bottom:10px;
}

.results {
	display:none;
	padding: 10px 20px;
	height: 200px;
	overflow-y: scroll;
	background: #FFF;
	text-indent: 0;
	border-bottom: 1px solid #DDD;
}

.transports {
	display:none;
	padding: 5px;
	height: 350px;
	overflow-y: scroll;
	text-indent: 0;
	background: #F9F9F9;
	border-bottom:1px solid #DDD;
}

div[class*='lines-'] {
	display:none;
}

div[class*='lines-'] ul {
	clear:both;
}

.result-list ul li {
	font-size: 11px;
	padding: 8px 0;
	border-bottom:1px solid #EEE;
}

.result-list ul li a {
	margin-top: -3px;
}

.media-heading {
	margin-bottom: 10px;
}

.results img {
	height:50px;
}

#page-content-wrapper {
  width: 100%;
  height:100%;
}

.page-content {
	height: 100% !important;
}

.sidebar-nav {
  position: relative;
  top: 0;
  width: 310px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 10px;
  border-bottom: 1px solid #DDD;
}

.sidebar-nav li a {
	background: #FFF;
  color: #666;
  display: block;
  text-decoration: none;
  
}

.sidebar-nav li a:hover {
  color: #000;
  background: #F9F9F9;
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
	text-transform: uppercase;
  line-height: 60px;
  font-size: 18px;
  text-indent: none;
}

.sidebar-nav > .sidebar-brand a {
	background: #FFE168;
  color: #000;
  font-weight:bold;
  text-indent: 10px;
}

.sidebar-nav > .sidebar-brand a:hover {
  background: #FFC;
}

.content-header {
  height: 65px;
  line-height: 65px;
}

.content-header h1 {
  margin: 0;
  margin-left: 20px;
  line-height: 65px;
  display: inline-block;
}

#menu-toggle {
	position: fixed;
	z-index: 1000;
	top: 10px;
	right: 10px;
  display: none;
}

.inset {
  padding: 20px;
}

@media (max-width:767px) {

	#wrapper {
	  padding-left: 0;
	}

	#sidebar-wrapper {
	  left: 0;
	}

	#wrapper.active {
	  position: relative;
	  left: 310px;
	}

	#wrapper.active #sidebar-wrapper {
	  left: 310px;
	  width: 310px;
	  transition: all 0.4s ease 0s;
	}

	#menu-toggle {
	  display: inline-block;
	}

	.inset {
	  padding: 15px;
	}

}


::-webkit-scrollbar-track
{
  background-color: #EEE;
}

::-webkit-scrollbar
{
  width: 12px;
  background-color: #CCC;
}

::-webkit-scrollbar-thumb
{
  background-color: #CCC;
}
